html {
    min-height: 100vh;
}

/* Error Page */

#error-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #F04462;
    font-family: "Varela Round", sans-serif;
}

#error-page h1 {
    font-size: 5rem;
    margin: 0.5rem auto;
}
#error-page img {
    width: 12%;
}
#error-page p {
    font-size: 1.5rem;
}

#error-page i {
    color: #00000099;
}

#error-page a {
    border-radius: 100rem;
    background-color: #F04462;
    color: white;
    text-decoration: none;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    transition: 200ms;
}

#error-page a:hover {
    background-color: #f04461e3;
    transition: 200ms;
}

/* Footer */

#footer {
    background-color: lightgrey;
    margin-top: 4rem;
    padding: 2rem 2rem 1rem;
    overflow-x: hidden;
}
  
#footer .footer-contents {
    display: flex;
    flex-wrap: wrap;
    font-family: "Varela", sans-serif;
    margin-bottom: 1.5rem;
}

#footer .footer-contents .website {
    display: flex;
    gap: 6rem;
    margin: 2rem 0 0;
    margin-right: 3rem;
}

#footer .footer-contents .subscription {
    margin-right: 6rem;
}
  
#footer .footer-contents .subscription img {
    width: 5rem;
    filter: drop-shadow(1px 1px 1px #00000066);
    margin: 0;
}
  
#footer .footer-contents .subscription p {
    color: #F04462;
    font-size: 1.1rem;
}
  
#footer .footer-contents .subscription form {
    display: flex;
    align-items: stretch;
}
  
#footer .footer-contents .subscription input {
    outline: transparent;
    border: 0.3rem solid #F04462;
    border-radius: 100rem 0 0 100rem;
    font-size: 1rem;
    padding: 0 1rem;
}
  
#footer .footer-contents .subscription button {
    border: 0.3rem solid #F04462;
    border-radius: 0 100rem 100rem 0;
    background-color: #F04462;
    color: white;
    font-family: "Varela", sans-serif;
    font-size: 1rem;
    height: 3rem;
    padding-right: 0.7rem;
}
  
#footer .footer-contents .subscription button:hover {
    cursor: pointer;
}
  
#footer .footer-contents > div {
    display: inline-block;
    margin-right: 10rem;
    padding: 0.1px;
}
  
#footer .footer-contents h4 {
    font-weight: normal;
    font-size: 1.2rem;
}
  
#footer .footer-contents .categories {
    display: flex;
    flex-direction: column;
}
  
#footer .footer-contents a {
    margin-bottom: 0.5rem;
}
  
#footer .footer-contents p, #footer .footer-contents a {
    color: #000000b3;
    text-decoration: none;
}
  
#footer .footer-contents .categories a:hover {
    color: black;
    text-decoration: underline;
}
  
#footer i {
    color: #00000099;
    font-size: 0.9rem;
}

@media only screen and (max-width: 834px) {
    #footer .footer-contents {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px) {
    #footer .footer-contents .website {
        flex-direction: column;
        gap: 2rem;
    }

    #footer .footer-contents .subscription {
        margin-right: 0;
    }

    #footer .footer-contents .subscription img {
        width: 5rem;
    }
      
    #footer .footer-contents .subscription form {
        width: 90vw;
    }
      
    #footer .footer-contents .subscription input {
        font-size: 0.8rem;
        width: auto;
        padding: 0.5rem 0.8rem;
    }
    
    #footer .footer-contents .subscription button {
        height: auto;
        font-size: 0.8rem;
    }
}

@media only screen and (max-width: 365px) {
    #footer .footer-contents .subscription input {
        width: 6.5rem;
    }

    #footer .footer-contents .subscription p {
        font-size: 0.9rem;
    }
}